@media only screen and (min-width: 1360px) {
    main, .form {
        min-height: 480px;
    }
}
@media only screen and (max-width: 991px) {
    #aboutAuthor{
        margin-top: 15px;
    }
    #authorPhoto{
        margin-left: auto!important;
    }
}
  